# Ignore NPM artifacts here and in examples, too
node_modules/

# Ignore build artifacts -- release artifacts are added manually
/dist/
/release.tar.xz

# Ignore test and code checker artifacts
/coverage/
/eslint-report.json
/.scannerwork/
/test-report.xml
