server {
  listen ${APP_SERVER_PORT} default_server;
  listen [::]:${APP_SERVER_PORT} default_server;
  server_name ${APP_SERVER_DOMAIN};
  root /opt/app;

  index index.html;
  error_page 403 404 /404.html; # don't show forbidden, just not found
  error_page 500 /500.html;
  error_page 502 /502.html;

  location / {
    if (-f $document_root/down.html) {
      return 503;
    }
    try_files $uri $uri/index.html;
  }

  error_page 503 @maintenance;
  location @maintenance {
    rewrite ^(.*)$ /down.html break;
  }

  # `gzip` settings
  gzip on;
  gzip_disable "msie6";

  gzip_vary on;
  gzip_proxied any;
  gzip_comp_level 6;
  gzip_buffers 16 8k;
  gzip_http_version 1.1;
  gzip_min_length 256;
  gzip_types
    application/atom+xml
    application/geo+json
    application/javascript
    application/x-javascript
    application/json
    application/ld+json
    application/manifest+json
    application/rdf+xml
    application/rss+xml
    application/xhtml+xml
    application/xml
    font/eot
    font/otf
    font/ttf
    image/svg+xml
    text/css
    text/javascript
    text/plain
    text/xml;
}
