pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

#body-table {
  width: 100%;
}

#body-table tbody th {
  width: 50px;
}
/*
body.centered { width: 900px; margin: 39px auto 0; padding: 0; }
body.floating { margin-top: 39px; padding: 0; }

#menu { position: fixed; top: 0; left: 0; width: 100%; background: #eee; opacity: 0.7; }
#menu ul { float: left; padding: 0; margin: 0; }
#menu li { float: left; padding: 5px; margin: 5px; list-style-type: none; }

.test { border: 1px solid black; background: #fdd; margin-bottom: 5px; }
.row { clear: both; float: left; width: 900px; min-height: 50px; }
.box { float: left; width: 200px; min-height: 50px; }
.oversize-row { clear: both; float: left; min-height: 50px; }
*/

/*
div#status {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 300px;
}

div#status ul {
  padding: 0;
  margin: 0;
}

div#status ul li {
  padding: 0
  margin: 0
  padding: 2px 5px;
  display: block;
  float: left;
}

div#status ul li label {
  width: 70px;
  background: #ddd;
  display: block;
  float: left;
  margin: 2px;
}

div#status ul li span {
  width: 200px;
  background: #ddd;
  display: block;
  float: left;
  margin: 2px;
}

div#valami {
  background: #ffa;
}

*/
